:root{
    --site-specific-color: rgb(47, 83, 122);
    --price-color: #DD3721;
    --header-menu-color: #a19a9a;
}

* {
    margin: 0;
    padding: 0;
}

.container
{
    margin: 0 auto;
    width: 1200px;
    max-width: 1200px;
}

a:hover, a:focus, a:active {
    color: #DD3721;
    text-decoration: none;
    outline: none;
}

a {
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

header .main-nav li {
    list-style-type: none;
    display: inline-block;
}

header .main-nav li a:hover {
    color: #DD3721;
}

header .main-nav li a:active {
    color: #DD3721;
}

header .link {
    padding: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--header-menu-color);
}

header .logo
{
    width: 60px;
    margin: 10px 0;
    text-decoration: none;
}

header .logo span
{
    margin-left: 15px;
    color: var(--site-specific-color);
}

.button
{
    display: inline-block;
    background: var(--site-specific-color);
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}
.button:hover
{
    opacity: 0.8;
}

.site-navbar .site-navbar-top {
    border-bottom: 1px solid #f3f3f4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important;
}

.site-navigation {
    margin-top: 20px;
    margin-bottom: 50px;
}

.product .product-body .product-price {
    color: var(--price-color);
    font-size: 18px;
}

.product .product-body .product-name {
    text-transform: uppercase;
    font-size: 14px;
}

.product .product-body .product-name > a {
    font-weight: 700;
}

img
{
    max-width: 100%;
}

.basket-icon
{
    margin-right: 15px;
}

.cart_count
{
    position: absolute;
    bottom: -1px;
    right: 15px;
    width: 23px;
    height: 23px;
    background: var(--site-specific-color);
    border-radius: 50%;
    text-align: center;
}

.cart_count span
{
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.suggestive_bar
{
    width: 100%;
    background: #fafafa;
    height: 50px;
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 50px;
}

.suggestive_bar span
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.top_bar
{
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    z-index: 2;
}

.top_bar_contact
{
    display: inline-block;
}

.top_bar_contact_item
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
}

.top_bar_contact_item:not(:first-child)
{
    margin-right: 0px;
}
.top_bar_contact_item a
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_contact_item a:hover
{
    color: #8a8a8a;
}
.top_bar_contact_item:last-child
{
    margin-right: 0px;
}

.top_bar_icon
{
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.footer
{
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    z-index: 2;
    text-align: center;
    vertical-align: center;
}

.copyright_content
{
    margin-top: 15px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}

.header_search_form_container
{
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}
.header_search_form
{
    width: 100%;
    height: 100%;
}

.header_search_input
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left;
}
.header_search_input::-webkit-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-moz-placeholder /* older Firefox*/
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::-moz-placeholder /* Firefox 19+ */
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-ms-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}

.header_search_input::input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}

.header_search_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: var(--site-specific-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.single_product
{
    padding-top: 10px;
    padding-bottom: 75px;
}

.product_name
{
    font-size: 30px;
    font-weight: 500;
    margin-top: 11px;
}

.product_description
{
    padding-left: 50px;
    text-align: left;
}

.product_text
{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--header-menu-color);
}
.product_text p:last-child
{
    margin-bottom: 0px;
}

.product_price
{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;
    clear: left;
    color: var(--price-color);
}

.image_selected
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 15px);
    height: 525px;
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 15px;
}
.image_selected img
{
    max-width: 100%;
}

.button_container
{
    margin-top: 43px;
}
.cart_button
{
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
}
.cart_button:focus
{
    outline: none;
}
